<f:layout name="Master"/>

{namespace ts=VS\TimeSheet\ViewHelpers}

<f:section name="header">
    <h1><ts:account property="fullName" />'s Profil</h1>
</f:section>

<f:section name="content">
    <div class="row">
        <div class="span4">
            [Text]
        </div>
        <div class="span10">
            <f:form action="updateProfile" object="{account}" name="account" method="post">
                <fieldset>
                    <legend>Personendaten</legend>
                    <div class="clearfix">
                        <label>Titel</label>
                        <div class="input">
                            <f:form.textbox class="xlarge" property="party.name.title" id="title" />
                        </div>
                    </div>
                    <div class="clearfix">
                        <label>Vorname</label>
                        <div class="input">
                            <f:form.textbox class="xlarge" property="party.name.firstName" id="firstname" />
                        </div>
                    </div>
                    <div class="clearfix">
                        <label>2. Vorname</label>
                        <div class="input">
                            <f:form.textbox class="xlarge" property="party.name.middleName" id="middleName" />
                        </div>
                    </div>
                    <div class="clearfix">
                        <label>Nachname</label>
                        <div class="input">
                            <f:form.textbox class="xlarge" property="party.name.lastName" id="lastname" />
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Zugangsdaten</legend>
                    <div class="clearfix">
                        <label>Benutzername</label>
                        <div class="input">
                            <f:form.textbox class="xlarge" property="accountIdentifier" id="accountIdentifier" />
                        </div>
                    </div>
                    <div class="clearfix">
                        <label>Passwort</label>
                        <div class="input">
                            <f:form.password class="xlarge" name="password" id="password" />
                            <span class="span6 help-block">
                            Lassen Sie dieses Passwortfeld leer, um das bisherige Passwort zu behalten!
                        </span>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="input">
                            <input type="submit" class="btn primary" value="Speichern">
                        </div>
                    </div>
                </fieldset>
            </f:form>
        </div>
    </div>
</f:section>