<f:layout name="Master"/>

{namespace ts=VS\TimeSheet\ViewHelpers}

<f:section name="header">
    <h1>Projekt anlegen</h1>
</f:section>

<f:section name="content">
    <div class="row">
        <div class="span4">
            [Text]
        </div>
        <div class="span10">
            <f:form action="create" object="{project}" name="project" method="post">
                <fieldset>
                    <legend>Projektdaten</legend>
                    <div class="clearfix">
                        <label>Nummer</label>
                        <div class="input">
                            <f:form.textbox class="xlarge" property="number" id="number" />
                        </div>
                    </div>
                    <div class="clearfix">
                        <label>Name</label>
                        <div class="input">
                            <f:form.textbox class="xlarge" property="name" id="name" />
                        </div>
                    </div>
                    <div class="clearfix">
                        <label>Code</label>
                        <div class="input">
                            <f:form.textbox class="xlarge" property="code" id="code" />
                        </div>
                    </div>
                    <div class="clearfix">
                        <label for="project">Kunde</label>
                        <div class="input">
                            <f:form.select class="span6" property="customer" options="{customers}" name="customer" optionLabelField="name" id="customer" />
                        </div>
                    </div>
                    <div class="clearfix">
                        <label>Farbe</label>
                        <div class="input">
                            <f:form.textfield property="color" class="span2 xsmall" id="color" style="background-color: {project.color};" />
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="input">
                            <input type="submit" class="btn primary" value="Speichern">
                        </div>
                    </div>
                </fieldset>
            </f:form>
            <script type="text/javascript">
                $(document).ready(function(){
                    $('input#color').ColorPicker({
                        color: '#0000ff',
                        onShow: function (colpkr) {
                            $(colpkr).fadeIn(500);
                            return false;
                        },
                        onHide: function (colpkr) {
                            $(colpkr).fadeOut(500);
                            return false;
                        },
                        onChange: function (hsb, hex, rgb) {
                            $('input#color')
                                    .css('backgroundColor', '#' + hex)
                                    .attr('value', '#' + hex);
                        }
                    });
                });
            </script>
        </div>
    </div>
</f:section>