{namespace ts=VS\TimeSheet\ViewHelpers}

<script type="text/javascript">
    $(document).ready(function(){
        $('#dateFrom').mask("99.99.9999",{placeholder:"_"});
        $('#dateTo').mask("99.99.9999",{placeholder:"_"});

        $('#frmFilterList').validate({
            errorClass:'error',
            validClass:'success',
            errorElement:'span',
            highlight: function (element, errorClass, validClass) {
                $(element).parents("div[class='clearfix']").addClass(errorClass).removeClass(validClass);
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).parents(".error").removeClass(errorClass).addClass(validClass);
            }
        });
    });
</script>

<div id="modal-filter" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>Auswahl ändern</h3>
    </div>
    <div class="modal-body">
        <f:form id="frmFilterList" action="list" method="post">
            <div class="clearfix">
                <label>Zeitraum von</label>
                <div class="input">
                    <div class="inline-inputs">
                        <f:form.textbox class="small" type="text" value="{filter.dateFrom}" name="dateFrom" id="dateFrom" />
                        <span class="span6 help-block">Beispiel: 01.12.2012</span>
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <label>Zeitraum bis</label>
                <div class="input">
                    <div class="inline-inputs">
                        <f:form.textbox class="small" type="text" value="{filter.dateTo}" name="dateTo" id="dateTo" />
                        <span class="span6 help-block">Beispiel: 01.12.2012</span>
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <div class="input">
                    <input type="submit" onclick="" class="btn primary" value="Auswahl anzeigen">
                </div>
            </div>
        </f:form>
    </div>
</div>