{namespace ts=VS\TimeSheet\ViewHelpers}

<f:security.ifAuthenticated>
<f:then>
<ul class="nav">
    <li><f:link.action controller="Standard">Erfassen</f:link.action></li>
    <li class_="active"><f:link.action controller="Activity" action="list">Zeitkonto</f:link.action></li>
    <f:security.ifHasRole role="Report">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle">Auswertung</a>
        <ul class="dropdown-menu">
            <li><f:link.action controller="Report\Task">Aufgaben</f:link.action></li>
        </ul>
    </li>
    </f:security.ifHasRole>
    <f:security.ifHasRole role="Management">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle">Verwaltung</a>
        <ul class="dropdown-menu">
            <f:security.ifHasRole role="Administrator">
            <li><f:link.action controller="Admin\Account">Benutzer</f:link.action></li>
            <li><f:link.action controller="Admin\Tag">Tags</f:link.action></li>
            <li><f:link.action controller="Admin\Customer">Kunden</f:link.action></li>
            <li><f:link.action controller="Admin\Project">Projekte</f:link.action></li>
            </f:security.ifHasRole>
            <li><f:link.action controller="Admin\Task">Aufgaben</f:link.action></li>
        </ul>
    </li>
    </f:security.ifHasRole>
</ul>
<ul class="nav secondary-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle"><ts:account property="fullName" /></a>
        <ul class="dropdown-menu">
            <li><f:link.action controller="Account" action="profile">Profil bearbeiten</f:link.action></li>
            <li class="divider"></li>
            <li><f:link.action controller="Account" action="logout">Abmelden</f:link.action></li>
        </ul>
    </li>
</ul>
</f:then>
<f:else>
    <f:form action="login" controller="Account" method="post" class="pull-right">
        <input class="input-small" name="__authentication[TYPO3][FLOW3][Security][Authentication][Token][UsernamePassword][username]" type="text" placeholder="Benutzername">
        <input class="input-small" name="__authentication[TYPO3][FLOW3][Security][Authentication][Token][UsernamePassword][password]" type="password" placeholder="Passwort">

        <button class="btn" type="submit">Anmelden</button>
    </f:form>
</f:else>
</f:security.ifAuthenticated>