{namespace ts=VS\TimeSheet\ViewHelpers}

<div class="row">
    <div class="span4">
        <f:if condition="{account}">
            <f:then>
                <h3><ts:format.date>{date}</ts:format.date></h3>
                <table class="condensed-table">
                    <tbody>
                        <tr>
                            <td>Arbeitszeit (IST):</td>
                            <td><ts:format.timespan format="h m">{istMinutes}</ts:format.timespan></td>
                        </tr>
                        <tr>
                            <td>Arbeitszeit (SOLL):</td>
                            <td><ts:format.timespan format="h m">{sollMinutes}</ts:format.timespan></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="progressbar" style="height: 15px;">
                                <f:if condition="{percentageMinutes} > 100">
                                    <f:then>
                                        <div class="bar" style="width: 100%; background-color: red;"></div>
                                    </f:then>
                                    <f:else>
                                        <div class="bar"style="width: {percentageMinutes}%; background-color: green;"></div>
                                    </f:else>
                                </f:if>
                                <div class="text">
                                    {percentageMinutes}%
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </f:then>
            <f:else>
                <h3>Heute noch offen</h3>
                <f:if condition="{items -> f:count()} != 0">
                    <f:then>
                        <table class="condensed-table">
                            <tbody>
                                <f:for each="{items}" as="item">
                                <tr>
                                    <td>{item.account.party.name.fullName}</td>
                                    <td><ts:format.timespan format="h m">{item.missingMinutes}</ts:format.timespan></td>
                                </tr>
                                </f:for>
                            </tbody>
                        </table>
                    </f:then>
                    <f:else>
                        <p>
                            <strong>Feierabend :-)</strong>
                        </p>
                    </f:else>
                </f:if>

            </f:else>
        </f:if>
    </div>
    <div class="span10">
        <script type="text/javascript">
            $(document).ready(function(){
                $("img[rel=popover]")
                    .popover({
                      offset: 10
                    })
                    .click(function(e) {
                      e.preventDefault()
                    });

                $("input#timespan").typeWatch({
                    callback: function(){
                        $.ajax({
                            type: 'POST',
                            url: '<f:uri.action action="parseTimespan" controller="Activity" subpackage="Json" />',
                            data: {
                                text: $('input#timespan').val()
                            },
                            success: function(data) {
                                var text = 'Das sind ';

                                if(data.hours != 0)
                                    text += '<strong>' + data.hours + ' ' + (data.hours == 1 ? 'Stunde' : 'Stunden') + ' </strong>';


                                if(data.minutes != 0) {
                                    if(data.hours != 0)
                                        text += ' und ';

                                    text += '<strong>' + data.minutes + ' ' + (data.minutes == 1 ? 'Minute' : 'Minuten') + ' </strong>';
                                }

                                if(data.hours == 0 && data.minutes == 0)
                                    text = 'Ich verstehe das leider nicht...';


                                $('span#timespanOutput').html(text);
                                $('input#timespanTotal').val(data.totalMinutes);
                            }
                        });
                    },
                    wait: 750,
                    highlight: true,
                    captureLength: 1
                });

                $.validator.addMethod("username", function(value) {
                    return value == "--- Bitte wählen ---";
                }, 'Bitte Benutzer angeben');

                $.validator.addMethod("timespanValidator", function() {
                    var value = $('input#timespanTotal').val();
                    console.log(value);
                    return value.length != 0 && value != 0;
                }, '');

                $('#frmCreateActivity').validate({
                    errorClass:'error',
                    validClass:'success',
                    errorElement:'span',
                    highlight: function (element, errorClass, validClass) {
                        $(element).parents("div[class='clearfix']").addClass(errorClass).removeClass(validClass);
                        //$('form#frmCreateActivity input[type=submit]').attr('disabled', 'disabled');
                    },
                    unhighlight: function (element, errorClass, validClass) {
                        $(element).parents(".error").removeClass(errorClass).addClass(validClass);
                        //$('form#frmCreateActivity input[type=submit]').removeAttr('disabled', 'disabled');
                    }
                });

                $("select#customer").change(function(){
                    $("select#customer").attr('disabled', 'disabled');
                    $("select#project").attr('disabled', 'disabled');
                    $("select#task").attr('disabled', 'disabled');
                    $.ajax({
                        type: 'POST',
                        url: '<f:uri.action action="customerSelected" controller="Standard" subpackage="Json" />',
                        data: {
                            customer: $("select#customer").val()
                        },
                        success: function(data) {
                            // Set Projects
                            var optionsProjects = '';
                            for (var i = 0; i < data.projects.length; i++) {
                                optionsProjects += '<option value="' + data.projects[i].value + '">' + data.projects[i].text + '</option>';
                            }
                            $("select#project").html(optionsProjects);
                            $('select#project option:first').attr('selected', 'selected');

                            $("select#project").trigger( "change" );
                            $("select#project").removeAttr('disabled');

                            // Set Tasks for first project
                            var optionsTasks = '';
                            for (var i = 0; i < data.tasks.length; i++) {
                                optionsTasks += '<option value="' + data.tasks[i].value + '">' + data.tasks[i].text + '</option>';
                            }
                            $("select#task").html(optionsTasks);
                            $('select#task option:first').attr('selected', 'selected');

                            $("select#task").trigger( "change" );
                            $("select#task").removeAttr('disabled');

                            // Customer
                            $("select#customer").removeAttr('disabled');
                        }
                    });
                });

                $("select#project").change(function(){
                    $("select#customer").attr('disabled', 'disabled');
                    $("select#project").attr('disabled', 'disabled');
                    $("select#task").attr('disabled', 'disabled');
                    $.ajax({
                        type: 'POST',
                        url: '<f:uri.action action="projectSelected" controller="Standard" subpackage="Json" />',
                        data: {
                            project: $("select#project").val()
                        },
                        success: function(response) {
                            var options = '';
                            for (var i = 0; i < response.length; i++) {
                                options += '<option value="' + response[i].value + '">' + response[i].text + '</option>';
                            }
                            $("select#task").html(options);
                            $('select#task option:first').attr('selected', 'selected');

                            $("select#customer").removeAttr('disabled');
                            $("select#project").removeAttr('disabled');
                            $("select#task").removeAttr('disabled');
                        }
                    });
                });

                $("select#task").change(function(){
                    $.ajax({
                        type: 'POST',
                        url: '<f:uri.action action="taskDetails" controller="Standard" subpackage="Json" />',
                        data: {
                            task: $("select#task").val()
                        },
                        success: function(data) {
                            if(data.comment.length != 0) {
                                //$("img#taskComment").html('Hinweis zu dieser Aufgabe');
                                $('img#taskComment').css('visibility', 'visible');
                                $('img#taskComment').popover({
                                    title: function(){ return 'Hinweis für diese Aufgabe'; },
                                    content: function(){ return data.comment; },
                                    placement: 'left'
                                });
                            } else {
                                $('img#taskComment').css('visibility', 'hidden');
                            }
                        }
                    });
                });
            });
        </script>
        <f:form action="createActivity" object="{activity}" id="frmCreateActivity" name="activity" method="post">
            <div class="clearfix">
                <label>Mitarbeiter</label>
                <div class="input">
                <f:if condition="{activity.account}">
                    <f:then>
                        <f:form.textfield class="span6 disabled" property="account.party.name.fullName" disabled="true" id="account" />
                        <f:form.hidden property="account" />
                    </f:then>
                    <f:else>
                        <f:form.select class="span6 required" property="account" options="{accounts}" optionLabelField="party.name.fullName" id="account" />
                    </f:else>
                </f:if>
            </div>
            </div>
            <div class="clearfix">
                <label>Benötigte Zeit</label>
                <div class="input">
                    <div class="inline-inputs">
                        <input class="span3 required timespanValidator" type="text" value="" id="timespan" name="timespan"  />
                        <img src="{f:uri.resource(path: 'icons/help.png')}" class="cursor help" rel="popover" data-content="{helptimespan}" data-original-title="Was kann ich hier eingeben?" data-html="true" />
                        <span class="span6 help-block" id="timespanOutput">Bitte Dauer eingeben</span>
                        <f:form.hidden property="minutes" id="timespanTotal" value="0" />
                    </div>
                </div>
            </div>
            <f:if condition="{customers -> f:count()} != 1">
                <f:then>
                    <div class="clearfix">
                        <label for="customer">Kunde</label>
                        <div class="input">
                            <f:form.select class="span6" property="task.project.customer" options="{customers}" name="customer" optionLabelField="name.fullName" id="customer" />
                        </div>
                    </div>
                </f:then>
            </f:if>
            <div class="clearfix">
                <label for="project">Projekt</label>
                <div class="input">
                    <f:form.select class="span6" property="project" options="{projects}" name="project" optionLabelField="name" id="project" />
                </div>
            </div>
            <div class="clearfix">
                <label for="task">Aufgabe</label>
                <div class="input">
                    <f:form.select class="span6" property="task" options="{tasks}" name="task" optionLabelField="name" id="task" />
                    <img src="{f:uri.resource(path: 'icons/information.png')}" class="cursor help" style="visibility: hidden;" id="taskComment" />

                </div>
            </div>
            <div class="clearfix">
                <label for="comment">Kommentar</label>
                <div class="input">
                    <f:form.textarea class="span6" property="comment" id="comment" rows="3" cols="50"></f:form.textarea>
                    <span class="span6 help-block">
                        Dieses Feld ist optional.
                    </span>
                </div>
            </div>
            <div class="clearfix">
                <div class="input">
                    <input type="submit" onclick="" class="btn primary" value="Tätigkeit speichern">
                </div>
            </div>
        </f:form>
    </div>
</div>