{namespace ts=VS\TimeSheet\ViewHelpers}

<div class="row">
    <div class="span4">
        <img src="{f:uri.resource(path: 'images/key.jpg')}" />
    </div>
    <div class="span10">
        <h2>Fernzugriff</h2>
        <p>
            Sie sind anscheinend nicht im Büro, darum müssen Sie sich oben erst anmelden. Anschließend
            haben Sie gewohnte Funktionalität bei vollem Komfort!
        </p>
        <br />
        <h6>Warum ist das so?</h6>
        <p>
            Um die Persönlichkeitsrechte der Mitarbeiter zu schützen, ist der Zugriffe von außerhalb der Firma
            nur nach Authentifizierung möglich. So können wir sicherstellen, dass Mitarbeiterdaten wie
            beispielsweise der Name nicht öffentlich einsehbar sind.
        </p>
    </div>
</div>