/* line 4, ../sass/site.scss */
html {
  background-image: url(../images/noise/130-90-2.png);
  background-color: #f5f4f4;
}
/* line 10, ../sass/site.scss */
html body {
  background-image: url(../images/noise/130-90-2.png);
  background-color: #f5f4f4;
  padding-top: 40px;
        /*
        .topbar div > ul .menu-dropdown,
        .nav .menu-dropdown,
        .topbar div > ul .dropdown-menu,
        .nav .dropdown-menu {
            background: {
                image: url(../images/noise/130-90-4.png);
                color: $color_hdh_blue;
            }
        }

        .topbar div > ul .menu-dropdown .divider,
        .nav .menu-dropdown .divider,
        .topbar div > ul .dropdown-menu .divider,
        .nav .dropdown-menu .divider {
            /*background-color: #222; */
            /*border-color: #444; */
            background: {
                image: url(../images/noise/130-90-4.png);
                color: $color_hdh_blue;
            }
            border:{
                color: $color_hdh_blue;
            }
        }*/
}
/* line 19, ../sass/site.scss */
html body .topbar-inner,
html body .topbar .fill {
  background-image: url(../images/noise/130-90-4.png);
  background-color: #00569f;
}
/* line 51, ../sass/site.scss */
html body .container {
  width: 820px;
}
/* line 54, ../sass/site.scss */
html body .container > .content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px;
  /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
/* line 65, ../sass/site.scss */
html body .container > .content .page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}
/* line 73, ../sass/site.scss */
html body .container > .content .progressbar {
  border: 1px solid #DDD;
  background-color: white;
  height: 15px;
  padding: 1px;
}
/* line 80, ../sass/site.scss */
html body .container > .content .progressbar > div.bar {
  height: 100%;
}
/* line 84, ../sass/site.scss */
html body .container > .content .progressbar > div.text {
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
  top: -17px;
  text-shadow: white 0px 1px 2px, white 0px -1px 2px, white -1px 0px 2px, white 2px 0px 2px;
}
/* line 95, ../sass/site.scss */
html body .container > .content .btn.xsmall {
  padding: 3px 3px 3px;
  font-size: 10px;
}
/* line 101, ../sass/site.scss */
html body .container > footer p {
  text-align: center;
}
