<f:layout name="Master"/>

{namespace ts=VS\TimeSheet\ViewHelpers}

<f:section name="header">
    <h1>Kunde anlegen</h1>
</f:section>

<f:section name="content">
    <div class="row">
        <div class="span4">
            [Text]
        </div>
        <div class="span10">
            <f:form action="create" object="{customer}" name="customer" method="post">
                <fieldset>
                    <legend>Stammdaten</legend>
                    <div class="clearfix">
                        <label>Kundennummer</label>
                        <div class="input">
                            <f:form.textbox class="xlarge" property="number" id="number" />
                        </div>
                    </div>
                    <div class="clearfix">
                        <label>Code</label>
                        <div class="input">
                            <f:form.textbox class="xlarge" property="code" id="code" />
                        </div>
                    </div>
                    <div class="clearfix">
                        <label>Titel</label>
                        <div class="input">
                            <f:form.textbox class="xlarge" property="name.title" id="title" />
                        </div>
                    </div>
                    <div class="clearfix">
                        <label>Vorname</label>
                        <div class="input">
                            <f:form.textbox class="xlarge" property="name.firstName" id="firstname" />
                        </div>
                    </div>
                    <div class="clearfix">
                        <label>Nachname</label>
                        <div class="input">
                            <f:form.textbox class="xlarge" property="name.lastName" id="lastname" />
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Sonstiges</legend>
                    <div class="clearfix">
                        <label>Farbe</label>
                        <div class="input">
                            <f:form.textfield property="color" class="span2 xsmall" id="color" style="background-color: {customer.color};" />
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="input">
                            <input type="submit" class="btn primary" value="Speichern">
                        </div>
                    </div>
                </fieldset>
            </f:form>
            <script type="text/javascript">
                $(document).ready(function(){
                    $('input#color').ColorPicker({
                        color: '#0000ff',
                        onShow: function (colpkr) {
                            $(colpkr).fadeIn(500);
                            return false;
                        },
                        onHide: function (colpkr) {
                            $(colpkr).fadeOut(500);
                            return false;
                        },
                        onChange: function (hsb, hex, rgb) {
                            $('input#color')
                                    .css('backgroundColor', '#' + hex)
                                    .attr('value', '#' + hex);
                        }
                    });
                });
            </script>
        </div>
    </div>
</f:section>